
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-page">
    <div class="container">
        <div class="row header-top">
            <div class="col-md-12">
                <div class="logo">
                    <a href="/"><img src="~/Images/hotel-logo.png" /><span class="hotel-logo-text">Hotel Finder</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-container">
        <div class="row">
            <div class="col-md-12">
                <h1>Ooops something went wrong</h1>
                <p>Something went wrong or this page does not yet exist.</p>
            </div>
        </div>
    </div>
</div>

